<div class="row">
    <div class="col s12 m8">
        <h3>{{story.title}}
            <small>{{{editIcon story.user user story._id false}}}</small>
        </h3>
        <div class="card story">
            <div class="card-content">
                <span class="card-title">{{formatDate date 'MMMM Do YYYY, h:mm:ss a'}}</span>
                {{{story.body}}}
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card center-align">
            <div class="card-content">
                <span class="card-title">{{story.user.displayName}}</span>
                <img src="{{story.user.image}}" class="circle responsive-img img-small">
            </div>
            <div class="card-action">
                <a href="/stories/user/{{story.user._id}}">More From {{story.user.firstName}}</a>
            </div>
        </div>
    </div>

    <div>
        {{#each story.comments}}


        <span class="user-image">
            {{#if user_image}}
            <img height="50" width="50" src='{{user_image}}' alt="User Image">
            {{else}}
            <img height="50" width="50"
                src="https://lh5.googleusercontent.com/-V7J4IyfYxrw/AAAAAAAAAAI/AAAAAAAAAAA/AMZuucnMXxp28a8K8HWULue8XR-7A/photo.jpg">
            {{/if}}
        </span>
        <span class="content">
            {{{body}}}
        </span>

        {{else}}
        <p>No comments to display</p>
        {{/each}}


    </div>


    <p><a href="add/{{story._id}}/comments">Add a Comment</a></p>



</div>